@import url('https://fonts.googleapis.com/css?family=Spectral|Staatliches|Righteous&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END MEYER RESET */

main
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

h1
{
    text-align: center;
    font-size: 5rem;
    margin: 4rem 0;
    color: white;
    font-family: Righteous, serif;
}

.search-container
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#search-bar
{
    height: 2rem;
    width: 50%;
    border: none;
    background-color: hsl(0, 0%, 40%);
    padding-top: 1.2rem;
    padding-left: 0.5rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: hsla(197, 3%, 53%, 0.386);
    border-bottom-style: solid;
    border-bottom-width: 1.3px;
}

#search-bar:hover
{
  background-color: hsl(0, 0%, 55%);
  border-bottom: #333;
  border-bottom-style: solid;
  border-bottom-width: 1.3px;
}

#search-bar:focus
{
    background-color: hsl(0, 0%, 70%);
    border-bottom: purple;
    border-bottom-style: solid;
    border-bottom-width: 1.3px;
    caret-color: purple;
    outline: none;  
    transition: all 0.3s;
}

label[for=search-bar]
{
    position: absolute;
    padding: 1rem 0 0 0.5rem;
    font-size: 0.9rem;
    color: rgb(72, 72, 72);
    font-family: Roboto, sans-serif;
    transition: all 0.3s;
    pointer-events: none;
}

.shrink-colored
{
    color: #136b9b;
    font-size: 0.6rem;
    transform: translateY(-8px);
    transition: all 0.3s;
    z-index: 2;
}

.shrink-uncolored
{
    font-size: 0.6rem;
    transform: translateY(-8px);
}

.genre-selector-container
{
    margin: 2rem 0;
    width: 100%;
    text-align: center;

}

.genre-selector
{
    font-size: 1rem;
    height: 1.8rem;
}

.selected-genre
{
    color: white;
}

.show-cards-container
{
    display: flex;
    flex-flow: wrap;
    margin: 1rem auto 15rem;
    width: 70%;
}

.show-card
{
    display: inline-block;
    margin: 17px auto;
    height: 15%;
    width: 17%;
    box-shadow: 4px 4px 10px white;
    /* box-shadow: 13px 13px 13px hsl(0, 0%, 15%); */
    /* box-shadow: 15px 15px 10px rgb(148, 148, 148); */
    cursor: pointer;
}

.show-card:hover
{
    transform: scale3d(1.7, 1.7, 1.7);
    box-shadow: 1px 1px 8px rgb(123, 80, 1), -1px 1px 8px rgb(123, 80, 1), 1px -1px 8px rgb(123, 80, 1), -1px -1px 8px rgb(123, 80, 1);
    z-index: 10;
}

.show-image
{
    height: 100%;
    width: 100%;
}

.show-info
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    background-color: rgba(255, 232, 232, 0.845);
}

.show-title
{
    font-family: Staatliches, Arial, serif;
    font-weight: 500;
    font-size: 1.3rem;
    margin: 0.2rem 0.6rem 0.5rem;
}

.show-info > p
{
    font-family: Spectral, Arial, serif;
    margin: 0 0.6rem 0.5rem;
    font-size: 1.2rem;
}

.show-info > a
{
    font-family: Spectral, Arial, serif;
    margin: 0 0.6rem 0.5rem;
    font-size: 1.2rem;
    color: blue;
    text-decoration: none;
}

/* Moving genre selector into pills on the bottom right of the screen for mobile. */

/* .genre-pills
{
    color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.genre-pills > li
{
    padding: 0.3rem 0;
    border-radius: 10px;
    text-align: left;
}

.genre-pills > li:hover
{
    background-color: blue;
} */
