.genre-pills {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 40;
    top: 0;
    left: 0;
    height: 100vh;
    width: min-content;
    padding: 1.5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    overflow-y: scroll;
    transition: all 0.8s;
}

.collapsed {
    left: -15rem;
}

.genre-pill-header {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 0.6rem;
    color: white;
}

.genre-pill-header > .hamburger {
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
}

.genre-pill-header > .hamburger > span {
    background-color: white;
}

.genre-pill-header-text {
    width: min-content;
    font-size: 2rem;
}

.genre-pill, .genre-pill-reset {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0.3rem 0;
    padding: 0.3rem 0;
    border-radius: 15px;
    color: white;
    border: white 1px solid;
    cursor: pointer;
    min-width: 9rem;
    font-size: 1.3rem;
}

.genre-pill-reset:hover {
    background-color: rgb(108, 0, 0);
    color: white;
}

.genre-pill:not(.highlighted):hover {
    background-color: #545863;
    color: white;
}

.highlighted {
    background-color: white;
    color: black;
}