.page-slider-form {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 5rem;
}

.page-slider-form > output {
    position: absolute;
    background-color: midnightblue;
    width: 40px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    color: white;
    display: inline-block;
    bottom: 95%;
    left: -10px;
    font: bold 15px/30px Roboto;
}

.page-slider-form > output:after { 
    content: "";
    position: absolute; 
    width: 0;
    height: 0;
    border-top: 10px solid midnightblue;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    margin-top: -1px;
}

#page-slider {
    -webkit-appearance: none;
    width: 30vw;
    z-index: 20;
}

#page-slider:focus {
    outline: none;
}

#page-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    animation: 0.2s;
    background: midnightblue;
}

#page-slider::-webkit-slider-thumb {
    height: 30px;
    width: 15px;
    border-radius: 15px;
    background: black;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px;
}

#page-slider:focus::-webkit-slider-runnable-track {
    background: midnightblue;
}

#page-slider::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    animation: 0.2s;
    background: midnightblue;
}

#page-slider::-moz-range-thumb {
    height: 30px;
    width: 15px;
    border-radius: 15px;
    background: black;
    cursor: pointer;
}

#page-slider::-ms-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    animation: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

#page-slider::-ms-fill-lower {
    background: midnightblue;
    border-radius: 15px;
}

#page-slider::-ms-fill-upper {
    background: midnightblue;
    border-radius: 15px;
}

#page-slider::-ms-thumb {
    height: 30px;
    width: 15px;
    border-radius: 15px;
    background: black;
    cursor: pointer;
}

#page-slider:focus::-ms-fill-lower {
    background: midnightblue;
}

#page-slider:focus::-ms-fill-upper {
    background: midnightblue;
}

.page-slider-form > span {
    position: absolute;
    top: 90%;
    font-size: 2rem;
}

.range-min {
    left: 1px;
}

.range-max {
    right: -22px;
}