.search-container {
    width: 100%;
    display: flex;
    margin-bottom: 0.8rem;
    min-height: 4rem;
}

.search-container > div {
    display: flex;
    flex: 1;
}

#search-bar {
    height: 4rem;
    width: 100%;
    padding: 1.3rem 0.5rem 0;
    border: none;
    background-color: hsl(0, 0%, 95%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: hsla(197, 3%, 53%, 0.386);
    border-bottom-style: solid;
    border-bottom-width: 1.3px;
    display: block;
    font-size: 200%;
}

#search-bar:hover {
  background-color: hsl(0, 0%, 92%);
  border-bottom: #333;
  border-bottom-style: solid;
  border-bottom-width: 1.3px;
}

#search-bar:focus {
    background-color: hsl(0, 0%, 88%);
    border-bottom: midnightblue;
    border-bottom-style: solid;
    border-bottom-width: 1.3px;
    caret-color: midnightblue;
    outline: none;  
    transition: all 0.3s;
}

.search-bar-label {
    position: absolute;
    font-size: 1.2rem;
    color: rgb(104, 104, 104);
    transition: all 0.3s;
    pointer-events: none;
    align-self: center;
    left: 1.9rem;
}