@media only screen and (max-device-width: 600px) {
  .show-cards-container {
    margin-bottom: 2rem;
  }

  .show-card {
    flex-basis: 70%;
    margin: 30px 17px;
    height: 100%;
  }

  .show-card:hover {
    transform: scale3d(1.15, 1.15, 1.15);
  }

  .show-title {
    font-size: 2.8rem;
    margin: 1rem 0.6rem;
  }

  .show-details {
    max-height: 500px;
    transition-duration: 0.5s;
  }

  .show-details > p {
    font-size: 2.8rem;
    margin-bottom: 1rem;
  }

  .show-details > ul {
    font-size: 2.8rem;
    margin-bottom: 1rem;
  }

  .genre {
    margin-left: 1.2rem;
  }

  .site-link {
    font-size: 2.8rem;
    margin-bottom: 1rem;
  }

  .slide-down {
    max-height: 0;
    transition: max-height ease-in 0.1s, margin step-end 0.1s;
  }
}